#for1 {
    background-color:rgb(138, 243, 0);
    padding: 20px 20px 20px 20px;
    border: dotted black 2px;
    position: static;
    width: 300px;
    height: 60px;
}
#for2 {
    background-color:rgb(243, 16, 0);
    padding: 20px 20px 20px 20px;
    border: dotted black 2px;
    width: 310px;
    height: 90px;
    position: relative;
    top: 50px;
    left: 400px;
}
#for3 {
    background-color:rgb(0, 243, 142);
    padding: 20px 20px 20px 20px;
    border: dotted black 2px;
    width: 320px;
    height: 80px;
    position: absolute;
}
#for4 {
    background-color:rgb(243, 207, 0);
    padding: 20px 20px 20px 20px;
    border: dotted #000000 2px;
    width: 330px;
    height: 75px;
    position: fixed;
}